
/* DEFAULT */
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Space Grotesk", sans serif;
}

/* INTESTAZIONE */
header{
    background-image: url(../img/pattern.png);
    background-color: rgb(20, 55, 255);
}
header img{
    width: 250px;
    height: 150px;
    margin-left: 15px;
}
header p{
font-size: small;
color: gray;
font-weight: lighter;
}
p>span{
color: rgb(20, 55, 255);
}
h1{
font-size: 52px;
font-weight: bolder;
margin: 10px;
}

/* MAIN */
main{
    margin: 50px;

}
main img{
    margin: 10px;
}
div>p{
    margin: 5px;
    font-size: 15px;
    margin-top: 0px;
}
div{
    margin: 10px;
}
/* TABELLA */
table{
    margin: 30px;
    background-color: rgba(0, 0, 255, 0.473);
    border-collapse: collapse;
}
thead{
    background-color: rgba(0, 0, 255, 0.459);
    font-size: 18px;
    
}
th,td{
    padding: 10px;
    font-weight: 400;
}   
tr#seconda{
    background-color: rgba(0, 0, 255, 0.473);
}
/* FOOTER */
footer{
    margin: 20px;
}
footer h3{
    font-size: 35px;
    font-weight: 800;
    margin: 15px;
}
footer img{
    margin: 25px;
    
}